.button {
    font-size: 20px;
    width: 100px;
    height: auto;
    border-radius:10px;
    border:2px solid rgba(255, 175, 4, 0.699);
    cursor:pointer;
    color: rgba(15, 15, 15, 0.699);
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    display:flex;
    align-items: center;
    justify-content: space-around
}


.button:active {
    position: relative;
    top: 1px;
}
